// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//Font icon
.fa {
   font-family: "FontAwesome";
}

.btn-primary {
   background-color: #ec4980;
}

.tab-badge {
   width: 30;
   height: 30;
   background-color: #06CE6A;
   text-align: center;
   vertical-align: center;
   horizontal-align: center;
   border-radius: 25;
   color: #ffffff;
   font-weight: bold;
   font-size: 12;
   margin-left: 10;
   margin-top: -9;
}

.tab-badge-text {
   padding: 5;
}
