// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

SearchBar {
  border-width: 1;
  border-radius: 25;
}

Label {
  color: #000000;
}

Label.title {
  color: #ec4980;
  font-weight: bold;
}

.action-bar-title, ActionBar ActionItem {
  color: #ffffff;
  font-weight: bold;
}

.white-label {
  color: #ffffff;
}
